{% extends "rate/base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h2>What is this thing?</h2>
        <p>Often students seek the advice of those in higher years when making their course selection. This is
            a site to help collate that information for Informatics students at the University of Edinburgh.</p>

        <p>when making recommendations, please be respectful of the course organizers and lecturers.</p>

        <p>Be sure to check out <a href="http://betterinformatics.com/login.php">better informatics</a> and
            <a href="http://gradeatron.tardis.ed.ac.uk/"> the grade-a-tron.</a></p>
    </div></div>
{% endblock %}
