{% extends "rate/base.html" %}
{% block body %}
    <div class="jumbotron">
        <h2>Add a Course</h2>
        <form>
            <div class="form-group">
                <label for="inputName">Course Name</label>
                <input type="name" class="form-control" id="inputName" placeholder="ie. Agents and Reasoning">
            </div>

            <div class="form-group">
                <label for="inputInitials">Course Initials</label>
                <input type="initials" class="form-control" id="inputInitials" placeholder="ie. IAML, DBS, INF2B">
            </div>


            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
{% endblock %}
