{% extends "rate/base.html" %}
{% block body %}
    <div class="jumbotron">
        <h2>Add a Course</h2>
        <form>
               <div class="btn-group">
                 <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                   <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu" role="menu">
                   <li><a href="#">Item 1</a></li>
                   <li><a href="#">Another item</a></li>
                   <li><a href="#">This is a longer item that will not fit properly</a></li>
                 </ul>
               </div>

            <div class="form-group course">
                <label for="inputSurname">Last Name</label>
                <input type="initials" class="form-control" id="inputSurname" placeholder="ie. Spogwurst">
            </div>

            <div class="form-group response">
                <label for="inputResponse">Last Name</label>
                <p>Think about answering how the coursework was, what the lectures were like, how available
                the lecturers were, and whether or not the tutorials were relevant.</p>
                <textarea type="initials"
                       class="form-control"
                       rows="5"
                       id="inputResponse"
                       placeholder="Be Nice."></textarea>
            </div>

            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
{% endblock %}
