{% extends "rate/base.html" %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        {% if message %}
            {{message}}
        {% endif%}
        <h2>Want to pick courses that suit you?</h2>
        <p>This is a site to aggregate people's experiences in informatics courses.</p>
        <p>You have to be logged in to be able to submit recommendations.</p>
        <form action="/" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <label for="password">What tower do I belong to?</label>
                <input type="password"
                       class="form-control"
                       name="password"
                       id="password"
                       placeholder="ie. Isengard">
            </div>
            <input type="submit" class="btn btn-primary" value="add"/>
        </form>

        <p>Be sure to check out <a href="http://betterinformatics.com/login.php">better informatics</a> and
            <a href="http://gradeatron.tardis.ed.ac.uk/"> the grade-a-tron.</a></p>
    </div>
</div>
{% endblock %}
