<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="container">
    <div class="jumbotron">
        <h1>This is a work in progress.</h1>
        <p>hang tight, chief.<br>
        in the mean-time check out <a href="http://betterinformatics.com/login.php">better informatics</a> and
        <a href="http://gradeatron.tardis.ed.ac.uk/"> the grade-a-tron.</a>
        </p>
    </div>
</div>