{% extends "rate/base.html" %}
{% block body %}
{% if lecturer %}
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{lecturer.first_name}} {{lecturer.last_name}}</p>
            <div class="list-group">
                {% for selection in taught_courses %}
                <a href="#{{selection.course.initials | safe}}" class="list-group-item">
                    {{selection.course.initials | safe}}
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail row">
                <div class="caption-full">
                    <h4>
                        <a href="#">Sample recommendations</a>
                    </h4>
                </div>

                {% for selection in taught_courses %}
                <div class="span12">
                    <div class="text col-md-9">
                        <strong>{{selection.course.initials}}</strong>
                        <p>{{selection.rating}}</p>
                    </div>

                    <div class="timing col-md-3">
                        <p class="pull-right">Semester {{selection.semester}}</p>
                        <p class="pull-right">{{selection.year}}</p>
                    </div>
                </div>
                {% endfor %}

            </div>

            {% for review in reviews %}
            <div class="well">
                <a name="{{review.0.course.initials}}"></a>

                <h3><a href="/course/{{review.0.course.initials}}">{{review.0.course.title}}</a></h3>
                <hr>
                {% for element in review %}
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-right">semester {{element.semester}}</span>
                        <span class="pull-right">{{element.year}}</span>
                        <p>{{element.rating | safe}}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>

{% else %}
<div class="container">
    <h2>This person doesn't exist! You could <a href="/l/add/">add them</a> if you wanted.</h2>
</div>
{% endif %}
{% endblock %}